.alert-wrapper {
  z-index: 99;
  width: 240px;
  position: fixed;
  min-height: 60px;
  box-shadow: $box-shadow;
  top: 80px;
  right: -260px;
  // display: none;
  align-items: center;
  opacity: .8;
  cursor: default;
  transition: all .2s;
  // transition-delay: 5s;

  &:hover {
    opacity: 1;
  }

  .alert-image {
    padding: 12px;
    width: 80px;
    min-height: 60px;
    height: 100%;
    border-right: 1px solid #ffffff36;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 36px;
      height: 36px;
    }
  }

  .alert-text {
    padding: 10px;
    padding-right: 20px;

    p {
      color: $text-white;
      line-height: 20px;
      font-size: 1em;
      margin: 0;
    }
  }

  .alert-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;

    img {
      width: 9px;
      height: 9px;
      cursor: pointer;
    }
  }
}

.alert-success {
  display: flex !important;
  right: 10px !important;
  background-color: $success !important;
  color: inherit !important;
}

.alert-primary {
  display: flex !important;
  right: 10px !important;
  background-color: $primary !important;
  color: inherit !important;
}

.alert-warning {
  display: flex !important;
  right: 10px !important;
  background-color: $warning !important;
  color: inherit !important;
}

.alert-danger {
  display: flex !important;
  right: 10px !important;
  background-color: $danger !important;
  color: inherit !important;
}

.hideAlert {
  right: -260px !important;
  transition: all .2s !important;
}
